<style>

.title{
color:#fff;

}
</style>


<ion-view view-title="Announcement">
	<ion-content  style="background-color:#f7f7f7;">

<div class="container wrapper" ng-controller="DbController">
  <div class="container" style="margin-top:40px; ">

		<div class="card">

		  <div class="item item-divider" style="background-color:#13E39A; color:white;">
		    I'm a Header in a Card!
		  </div>
		  <div class="item item-text-wrap">
		    This is a basic Card with some text.
				<br><br>by:
		  </div>


		</div>

</div>
</div>
</div

	</ion-content>
</ion-view>
